asgiref==3.11.1
distlib==0.4.0
Django==5.2.7
filelock==3.25.0
platformdirs==4.9.2
python-discovery==1.1.0
sqlparse==0.5.5
tzdata==2025.3
virtualenv==21.1.0
virtualenvwrapper-win==1.2.7
gunicorn